<h1>Add a new Project</h1>
<form action="/projects" method="post">
  <div class="form-group">
    <input id="name" name="title" class="form-control" type="text" placeholder="New Project">
  </div>
  <button type="submit" class="btn btn-dark">Go!</button>
</form>
